body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: overlay;
}
body::-webkit-scrollbar {
  width: 10px;
}
@font-face {
  font-family: "cocomilk";
  src: url(./fonts/CocoMilk-2OvpX.otf);
}
@font-face {
  font-family: "montserrat";
  src: url(./fonts/MontserratRegular-RpK6l.otf);
}
* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  font-size: 16px;
  border: none;
  color: #081f2c;
}
#content {
  width: 100%;
  background-image: url(./view.avif);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  padding: 5vmin;
  position: relative;
  gap: 10px;
}
#photo-ref {
  margin-top: auto;
  padding: 20px;
}
#photo-ref,
#photo-ref a {
  color: white;
}
#header {
  height: 120px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: calc(20px + 16vw);
  padding-top: 10px;
  font-family: "cocomilk";
  font-size: 80px;
  color: white;
  text-shadow: 0 0 3px white;
  background-color: #081f2c;
}
#footer {
  width: 100%;
  background-color: #9add43;
  font-weight: bold;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
div.new-project {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #081f2caa;
  width: 100vw;
  height: 100vh;
}
div.new-project form {
  display: flex;
  flex-direction: column;
  height: min(max-content, 240px);
  width: min(50vmin, 240px);
  background-color: #ffffffaa;
  border-radius: 5px;
  padding: calc(20px + 1vmin);
  gap: 20px;
  align-items: center;
}
div.new-project form img:first-child {
  align-self: flex-end;
}
div.new-project form input[type="text"] {
  width: 100px;
  flex: 1;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.747);
  color: #081f2c;
  padding: 2px 5px;
}
form label {
  color: #081f2c;
  font-weight: bold;
}
div.new-project div {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  flex-wrap: wrap;
  gap: 10px;
}
div.new-project form button:last-child {
  margin-top: auto;
  border-radius: 7.5px;
  color: white;
  background-color: #081f2c;
  padding: 5px 10px;
  width: min(100%, 100px);
}
div.description-form form img:first-child {
  align-self: flex-end;
}
div.description-form form textarea {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.747);
  color: #081f2c;
  padding: 15px 15px;
}
div.description-form form button:last-child {
  margin-top: auto;
  border-radius: 7.5px;
  color: white;
  background-color: #081f2c;
  padding: 5px 10px;
  width: min(100%, 100px);
}
div.description-form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #081f2caa;
  width: 100vw;
  height: 100vh;
}
div.description-form form {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: min(max-content, 300px);
  width: min(50vmin, 300px);
  background-color: #ffffffaa;
  border-radius: 5px;
  padding: calc(20px + 1vmin);
  gap: 20px;
  align-items: center;
}
#todo-list {
  margin-top: auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 2vmin;
  height: 500px;
  border-radius: 20px;
  gap: 20px;
  background-color: #ffffff99;
}
#sidebar ul {
  border-radius: 15px;
  margin-bottom: 20px;
  list-style: none;
  overflow: overlay;
  align-self: stretch;
}
#sidebar #new-project-button {
  font-weight: bold;
  padding: 7.5px 15px;
  color: white;
  background-color: #9add43;
  border-radius: 12px;
}
#sidebar #new-project-button:hover {
  cursor: pointer;
}
#sidebar ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  gap: 20px;
  background-color: #ffffff99;
}
#sidebar ul li div:first-child,
#todos .todo input[type="text"] {
  min-width: 50px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sidebar ul > li:hover,
#sidebar ul > li > *:hover {
  cursor: pointer;
}
#sidebar ul > li:hover {
  background-color: #ffffff50;
}
#sidebar h1 {
  font-size: 22px;
  font-weight: normal;
}
#sidebar,
#todos {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
#sidebar {
  max-width: 350px;
}
#todos {
  overflow: overlay;
  width: 500px;
}
#sidebar ul::-webkit-scrollbar,
#todos::-webkit-scrollbar {
  width: 10px;
}
#sidebar ul::-webkit-scrollbar-thumb,
#todos::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9add43;
}
img {
  width: 20px;
  height: 20px;
}
.todo {
  display: flex;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #ffffff99;
}
.todo:hover {
  position: relative;
  bottom: 2px;
}
.todo input[type="text"] {
  flex: 1;
}
.todo input[type="text"],
.todo input[type="date"] {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
}
.todo input[type="text"]::placeholder {
  color: rgb(100, 100, 100);
}
.todo input[type="checkbox"] {
  accent-color: #582a7e;
  accent-color: #9add43;
}

@media screen and (max-width: 950px) {
  #sidebar,
  #todos,
  #todo-list,
  #content,
  body {
    height: max-content;
    width: 100%;
    max-width: none;
  }
  #header {
    padding: 20px;
    height: auto;
    min-height: 120px;
  }
  #content {
    min-height: calc(100vh - 120px);
  }
  .todo {
    justify-content: flex-start;
  }
}
